// Trietrade Button Styles

.btn { 
	-moz-user-select:none; 
	-ms-user-select:none; 
	-webkit-user-select:none; 
	user-select:none; 
	-webkit-appearance:none; 
	-moz-appearance:none; 
	appearance:none; 
	display:inline-block; 
	width:auto; 
	height:auto; 
	text-decoration:none; 
	text-align:center; 
	vertical-align:middle; 
	cursor:pointer; 
	border:1px solid transparent; 
	border-radius:0; 
	padding:8px 15px 8px; 
	background-color:#1d7ae2; 
	color:#fff; 
	font-family:Roboto,sans-serif; 
	font-weight:400; 
	letter-spacing:1px; 
	line-height:normal; 
	white-space:normal; 
	text-transform: none; 
	font-size:13px; 
	-ms-transition:all 0.3s ease-in-out; 
	-webkit-transition:all 0.3s ease-in-out; 
	transition:all 0.3s ease-in-out; 
}

.btn--small { 
	padding:8px 10px; 
	font-size:0.92308em; 
	line-height:1; 
}

.btn--secondary { 
	background-color:#ededed; 
	color:#1a2158; 
	border:1px solid #1a2158; 
}

.btn--link { 
	background-color:transparent; 
	border:0; 
	margin:0; 
	color: #1d7ae2; 
	font-weight: 500;
	text-align:left; 
	text-decoration:none; 
	outline:none !important;
	box-shadow:none !important; 
}

.btn--link:hover, .btn--link:focus { 
	opacity:0.8; 
	text-decoration:none; 
}

.btn--danger { 
	background-color: #dc3545; 
	color: #fff;  
}

.btn--ghost {
	background-color: #e6e8ea; 
	color: #1a2158; 
	font-weight: 570;
}

.btn--primary {
	background-color: #1d7ae2; 
	color: #fff; 
	font-weight: 570;
}

.btn--full-w {
	width: 100%;
}

.btn-ins {
    min-width: 100%;
    background-color: #f0f3f7;
    padding: 1rem 1rem;
    text-decoration: none;
    color: #C71E7E;
    display: flex;
    transition: all .2s ease-in-out;

    i {
      	color: #DF3796;
      	font-size: 20px;
      	padding-right: 10px;
      	transition: all .3s ease-in-out;
    }

    span {
      	font-family: "Roboto", sans-serif;
      	align-self: center;
      	transform: translateX(0px);
      	transition: all .1s ease-in-out;
      	opacity: 1;
    }
   
   	&:hover {
    	background: linear-gradient(to right, #ff3019 0%,#c90477 100%);
    	box-shadow: 0px 10px 30px rgba(0,0,0,0.10);

      	i {
        	color: #FFF;
      	}

      	span {
        	color: #fff;
      	}
    }

   	&:active {
     	transform: scale(1);
     	box-shadow: 0px 2px 10px rgba(0,0,0,0.10);
   	}
}

.btn-f {
    min-width: 100%;
    background-color: #f0f3f7;
    padding: 1rem 1rem;
    text-decoration: none;
    color: #286ED6;
    display: flex;
    transition: all .2s ease-in-out;
    margin-top: 10px;
   
    i {
      	color: #286ED6;
      	font-size: 20px;
     	padding-right: 10px;
      	transition: all .3s ease-in-out;
    }

    span {
      	font-family: "Roboto", sans-serif;
      	align-self: center;
      	transform: translateX(0px);
      	transition: all .1s ease-in-out;
      	opacity: 1;
    }
   
   	&:hover {
    	background-color: #286ED6;
    	box-shadow: 0px 10px 30px rgba(0,0,0,0.10);
      
      	i {
        	color: #FFF;
      	}

      	span {
       		color: #fff;
      	}
    }

   	&:active {
     	transform: scale(1);
     	box-shadow: 0px 2px 10px rgba(0,0,0,0.10);
   	}
}

.btn-g {
    min-width: 100%;
    background-color: #f0f3f7;
    padding: 1rem 1rem;
    text-decoration: none;
    color: #DB4437;
    display: flex;
    transition: all .2s ease-in-out;
   	margin-top: 10px;
   
    i {
      	color: #DB4437;
      	font-size: 20px;
      	padding-right: 10px;
      	transition: all .3s ease-in-out;
    }

    span {
      	font-family: "Roboto", sans-serif;
      	align-self: center;
      	transform: translateX(0px);
      	transition: all .1s ease-in-out;
      	opacity: 1;
    }
   
   	&:hover {
    	background-color: #DB4437;
    	box-shadow: 0px 10px 30px rgba(0,0,0,0.10);
      
      	i {
        	color: #FFF;
      	}

      	span {
        	color: #fff;
      	}
    }

   	&:active {
     	transform: scale(1);
     	box-shadow: 0px 2px 10px rgba(0,0,0,0.10);
   }
}



