// Trietrade Wishlist

.wishlist-table .table-bordered, .wishlist-table .table-bordered td, .wishlist-table .table-bordered th { vertical-align:middle; white-space: nowrap; }
.wishlist-table .table-bordered th { text-transform:uppercase; }
.wishlist-table .product-thumbnail img { max-width:100px; }
.wishlist-table .product-subtotal .btn { white-space:nowrap; }
